.banner-t1-section {
  padding: 0;
  color: #FFFFFF;

  &__body {
    position: relative;
    padding: 130px 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #6071E4 0%, #805FE4 100%);
    border-radius: 7px;
    overflow: hidden;
  }

  &__bubbles {
    z-index: 0;
    position: absolute;
    pointer-events: none;
    user-select: none;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--sm {
      top: 0;
      left: -2.7%;
      width: 23%;
    }

    &--xl {
      top: 6%;
      right: -6.8%;
      width: 36%;
    }
  }

  &__btn-box {
    z-index: 1;
    position: relative;
    margin: 0 55px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    .t1-btn {
      max-width: 273px;
    }
  }

  &__title {
    margin: 0 0 30px;
    color: inherit;
    font-size: 36px;
    font-weight: 700;
  }

  &__offers-boxes {
    z-index: 1;
    position: relative;
    display: flex;

    .mini-offer-box:first-child {
      margin: 0 20px 0 0;
    }
  }

  &__mob-btn {
    z-index: 1;
    position: relative;
    display: none;
  }
}