.Header--User-Avatar {
    padding: 0;
}
.Header--User-Avatar-Inner > span > span {
    display: block;
}

.Header--User-Avatar-Inner {
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.Header--User-Name {
    padding: 0;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 15px;
}